.select{
  font-size: 0.9rem;
  padding: 0.3rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s
}

.select:focus{
  border-color: #6ea7fd;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
