
.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* border: 1px solid #000; */
}

.container>div{
  width: 80%;
  /* border: 1px solid #000; */
  gap: 10px;
  margin: 20px auto;
  justify-content: space-around;
  
}