


.container>div{
  width: 90%;
  /* border: 1px solid #000; */
  gap: 30px;
  margin: 20px auto;
  justify-content: space-around;
  
}
.container>div:nth-child(2){
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* border: 1px solid #000; */
}

.filterDiv{
  /* border: 1px solid #000; */
  text-align: right;
}
.filterDiv>button{
  margin-right: 10px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 216, 0.8);
  color: white;
  border-radius: 9px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
}
.filterDiv>button:hover{
  background-color: rgba(0, 0, 216, 1);
}