.container{
  margin: 30px;
  /* border: 1px solid #000; */
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}
.container h2{
  /* border: 1px solid #000; */
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.6rem;
}
.container p{
  margin-bottom: 5px;
}

.container Select{
  width: 100%;
}
.container Input{
  width: 100%;
  /* border: 1px solid #000; */
}
.table{
  /* border: 1px solid #000; */
  width: 100%;
  
}
.table>tbody>tr>td:first-child{
  padding-right: 10px;
  /* border: 1px solid red; */
}
.container textarea{
  width: 100%;
}
.file{
  /* border: 1px solid #000; */
}
.file input{
  /* border: 1px solid red; */
  /* height: 30px; */
  /* cursor: pointer; */
}
.button{
  /* border: 1px solid #000; */
  text-align: center;
}
.container Button{
  width: 60%;
  height: 50px;
  font-size: 1.3rem;
  margin: auto;
  /* border: 1px solid #000; */
  cursor: pointer;
}