.container{
  width: 300px;
  margin: 30px auto;
  /* border: 1px solid #000; */
}

.container>div{
  margin-bottom: 0.7rem;
}

.container>div>p{
  margin-bottom: 0.4rem;
}


.container input{
  width: 100%;
}

.id_div{
  display: flex;
  gap: 6px;
}
.id_div >:first-child{
  width: 70%;
}
.id_div > :last-child{
  width: 30%;
}

.tel_div{
  display: flex;
  gap: 6px;
}
.addr_div{
  display: flex;
  gap: 6px;
  margin-bottom: 0.3rem;
}
.addr_div>input{
  width: 70%;
}
.addr_div>button{
  width: 30%;
}
.btn_div>button{
  width: 100%;
}