.container{
  text-align: center;
  
}

.imgdiv{
  position: relative;
}

.imgdiv>img{
  width: 100%;
  
}
.p{
  font-size: 1.2rem;
  font-weight: bold;
}
.p p{
  margin-top: 10px;

}

.black{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  color: white;
  font-size: 1.5rem;

}


.lable{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 85%;
  left: 0px;
  color: white;
  font-size: 1.5rem;
  opacity: 0;
}
.imgdiv:hover>.black{
  opacity: 1;
  transition: 0.3s;
}
.imgdiv:hover>.lable{
  opacity: 1;
  transition: 0.8s;
}


